@media screen and (max-width: 800px){
    .container{
        width: 100%;
        margin-top: 70px;
        &__logo img{
            display: block;
        }
        &__block{
            height: 100%;
        }
        &__form{
            height: 100%;
            justify-content: space-between;
            &--button{
                width: 350px;
                position: absolute;
                bottom: 20px;
            }
            &--button--color{
                width: 350px;
                position: absolute;
                bottom: 20px;
            }
        }
    }
    .containerMenuMobile{
        display: block;
    }
    .block{
        margin-top: 20px;
        &__card{
            display: grid;
            grid-template-columns: repeat(auto-fill, 140px);
            &--product{
                width: 100%;
            }
            &--img{
                height: 140px;
            }
            &--icon{
                width: 35px;
            }
        }
        &__search{
            margin: auto;
            flex-direction: column;
        }
        &__category{
            display: flex;
        }
    }
    .searchContainer{
        width: 90%;
        margin-bottom: 20px;
    }
    .orderContainer{
        margin: 20px 0;
    }
    .containerMyOrders{
        height: 350px;
        &__block{
            padding: 20px;
        }
    }
    .containerOrder{
        height: 550px;
        &__block{
            padding: 20px;
            &--mobile{
                width: 100%;
            }
        }
    }
    .containerNav{
        &__iconMobile{
            display: block;
            width: 30px;
            margin-left: 10px;
        }
        &__left ul{
            display: none;
        }
        &__textEmail{
            display: none;
        }
        &__none{
            display: none;
        }
    }
    .containerProduct{
        width: 100%;
        position: absolute;
        right: 0;
        height: 100%;
        border-radius: 0;
        &__icon{
            &--bike{
                border-radius: 0;
            }
        }
    }
    .close{
        display: block;
        position: absolute;
        top: 18px;
        right: 20px;
        img{
            width: 20px;
        }
    }
    .containerMenuDesktop{
        display: none;
    }
}
@media screen and (max-width: 850px){
    .containerNav{
        &__left ul{
            margin-left: 10px;
        }
    }
}

@media screen and (max-width: 400px){
    .block{
        &__category{
            width: 100%;
            height: 50px;
            padding: 10px;
            white-space: nowrap;
            overflow-y: hidden; 
            overflow-x: auto;
        }
        &__scroll{
            display: none;
            width: 100px;
            height: 50px;
            margin: 0 10px 0 0;
            padding: 0;
            display: inline-block;
        }
    }
}


