.container{
    &__imageCorreo{
        display: flex;
        justify-content: center;
        background-color: $colorTextInput;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin-top: 10px;
        margin-bottom: 40px;
        img{
            width: 90px;
        }
    }
    &__form{
        &--p{
            font-size: $sm;
            margin-top: 40px;
            text-align: center;
            color: $dark;
        }
        &--a{
            text-decoration: none;
            color: $green;
        }
    }
}