*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-family: 'Quicksand', sans-serif;
    margin-top: 100px;
}
ul{
    list-style: none;
    padding: 0;
}

a{
    text-decoration: none;
}
