//paleta de colores//
$white:rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$dark:rgb(35, 40, 48);
$gray:rgb(182, 180, 180);
$green:rgb(172, 217, 178);
$colorTextInput:rgb(247, 247, 247);
$sm:15px;
$md:18px;
$lg:20px;
