<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <title>create_account</title>
</head>
<body>
    <nav class="containerNav">
        <img src="../assets/icons/icon_menu.svg" alt="" class="containerNav__iconMobile">
        <div class="containerNav__left">
            <img src="../assets/logos/logo_yard_sale.svg" alt="" class="containerNav__logo">
            <ul>
                <li class="containerNav__buttons">
                    <a href="">All</a>
                </li>
                <li class="containerNav__buttons">
                    <a href="">Clothes</a>
                </li>
                <li class="containerNav__buttons">
                    <a href="">Electronics</a>
                </li>
                <li class="containerNav__buttons">
                    <a href="">Furnutures</a>
                </li>
                <li class="containerNav__buttons">
                    <a href="">Toys</a>
                </li>
                <li class="containerNav__buttons">
                    <a href="">Others</a>
                </li>
            </ul>
        </div>
        <div class="containerNav__right">
            <ul>
                <div class="containerNav__subMenu">
                    <li class="containerNav__textEmail"><a href="./login.html">Sign in</a> 
                    </li>
                </div>
                <div class="containerNav__container">
                    <li class="containerNav__icon">
                        <img src="../assets/icons/icon_shopping_cart.svg" alt="">
                    </li>
                    <div class="containerNav__notification">2</div>
                </div>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="container__container">

        </div>
        <div class="container__block container__block--left">
            <div class="container__text">
                <h1 class="container__text--h1 container__text--margin" >
                    My account
                </h1>
            </div>
            <form action="" class="container__form">
                <div class="container__subForm">
                    <label for="nameUser" class="container__form--label">
                        Name
                    </label>
                    <input type="text" id="nameUser" placeholder="Tu Nombre" class="container__form--input">
    
                    <label for="emailUser" class="container__form--label">
                        Email
                    </label>
                    <input type="email" id="emailUser" placeholder="Email@gmail.com" class="container__form--input">
    
                    <label for="passwordUser" class="container__form--label">
                        Password
                    </label>
                    <input type="password" id="passwordUser" placeholder="**********" class="container__form--input">
                </div>
                <a href="./home.html">
                    <input type="button" id="" value="create" class="container__form--button">
                </a>
            </form>
        </div>
    </div>
</body>
</html>