<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <title>home1</title>
</head>
<body>
    <nav class="containerNav">
        <img src="../assets/icons/icon_menu.svg" alt="" class="containerNav__iconMobile">
        <div class="containerNav__left">
            <img src="../assets/logos/logo_yard_sale.svg" alt="" class="containerNav__logo">
            <ul>
                <li class="containerNav__buttons">
                    <a href="">All</a>
                </li>
                <li class="containerNav__buttons">
                    <a href="">Clothes</a>
                </li>
                <li class="containerNav__buttons">
                    <a href="">Electronics</a>
                </li>
                <li class="containerNav__buttons">
                    <a href="">Furnutures</a>
                </li>
                <li class="containerNav__buttons">
                    <a href="">Toys</a>
                </li>
                <li class="containerNav__buttons">
                    <a href="">Others</a>
                </li>
            </ul>
        </div>
        <div class="containerNav__right">
            <ul>
                <div class="containerNav__subMenu">
                    <li class="containerNav__textEmail">email@gmail.com
                        <img src="../assets/icons/Path.svg" alt="">
                    </li>
                </div>
                <div class="containerNav__container">
                    <li class="containerNav__icon">
                        <img src="../assets/icons/icon_shopping_cart.svg" alt="">
                    </li>
                    <div class="containerNav__notification">2</div>
                </div>
            </ul>
        </div>
    </nav>
    <section class="block">
        <div class="block__card">
            <div class="block__card--product">
                <img src="../assets/img/pexels-photo-276517.jpeg" alt="" class="block__card--img">
                <div class="block__card--info">
                    <div class="block__card--text">
                        <h3 class="block__card--h">
                            $120,00
                        </h3>
                        <p class="block__card--p">
                            Objeto
                        </p>
                    </div>
                    <div class="block__card--containerIcon">
                        <img src="../assets/icons/bt_add_to_cart.svg" alt="carro de compra" class="block__card--icon">
                    </div>
                </div>
            </div>
            <div class="block__card--product">
                <img src="../assets/img/pexels-photo-276517.jpeg" alt="" class="block__card--img">
                <div class="block__card--info">
                    <div class="block__card--text">
                        <h3 class="block__card--h">
                            $120,00
                        </h3>
                        <p class="block__card--p">
                            Objeto
                        </p>
                    </div>
                    <div class="block__card--containerIcon">
                        <img src="../assets/icons/bt_add_to_cart.svg" alt="carro de compra" class="block__card--icon">
                    </div>
                </div>
            </div>
            <div class="block__card--product">
                <img src="../assets/img/pexels-photo-276517.jpeg" alt="" class="block__card--img">
                <div class="block__card--info">
                    <div class="block__card--text">
                        <h3 class="block__card--h">
                            $120,00
                        </h3>
                        <p class="block__card--p">
                            Objeto
                        </p>
                    </div>
                    <div class="block__card--containerIcon">
                        <img src="../assets/icons/bt_add_to_cart.svg" alt="carro de compra" class="block__card--icon">
                    </div>
                </div>
            </div>
            <div class="block__card--product">
                <img src="../assets/img/pexels-photo-276517.jpeg" alt="" class="block__card--img">
                <div class="block__card--info">
                    <div class="block__card--text">
                        <h3 class="block__card--h">
                            $120,00
                        </h3>
                        <p class="block__card--p">
                            Objeto
                        </p>
                    </div>
                    <div class="block__card--containerIcon">
                        <img src="../assets/icons/bt_add_to_cart.svg" alt="carro de compra" class="block__card--icon">
                    </div>
                </div>
            </div>
            <div class="block__card--product">
                <img src="../assets/img/pexels-photo-276517.jpeg" alt="" class="block__card--img">
                <div class="block__card--info">
                    <div class="block__card--text">
                        <h3 class="block__card--h">
                            $120,00
                        </h3>
                        <p class="block__card--p">
                            Objeto
                        </p>
                    </div>
                    <div class="block__card--containerIcon">
                        <img src="../assets/icons/bt_add_to_cart.svg" alt="carro de compra" class="block__card--icon">
                    </div>
                </div>
            </div>
            <div class="block__card--product">
                <img src="../assets/img/pexels-photo-276517.jpeg" alt="" class="block__card--img">
                <div class="block__card--info">
                    <div class="block__card--text">
                        <h3 class="block__card--h">
                            $120,00
                        </h3>
                        <p class="block__card--p">
                            Objeto
                        </p>
                    </div>
                    <div class="block__card--containerIcon">
                        <img src="../assets/icons/bt_add_to_cart.svg" alt="carro de compra" class="block__card--icon">
                    </div>
                </div>
            </div>
            <div class="block__card--product">
                <img src="../assets/img/pexels-photo-276517.jpeg" alt="" class="block__card--img">
                <div class="block__card--info">
                    <div class="block__card--text">
                        <h3 class="block__card--h">
                            $120,00
                        </h3>
                        <p class="block__card--p">
                            Objeto
                        </p>
                    </div>
                    <div class="block__card--containerIcon">
                        <img src="../assets/icons/bt_add_to_cart.svg" alt="carro de compra" class="block__card--icon">
                    </div>
                </div>
            </div>
            <div class="block__card--product">
                <img src="../assets/img/pexels-photo-276517.jpeg" alt="" class="block__card--img">
                <div class="block__card--info">
                    <div class="block__card--text">
                        <h3 class="block__card--h">
                            $120,00
                        </h3>
                        <p class="block__card--p">
                            Objeto
                        </p>
                    </div>
                    <div class="block__card--containerIcon">
                        <img src="../assets/icons/bt_add_to_cart.svg" alt="carro de compra" class="block__card--icon">
                    </div>
                </div>
            </div>
            <div class="block__card--product">
                <img src="../assets/img/pexels-photo-276517.jpeg" alt="" class="block__card--img">
                <div class="block__card--info">
                    <div class="block__card--text">
                        <h3 class="block__card--h">
                            $120,00
                        </h3>
                        <p class="block__card--p">
                            Objeto
                        </p>
                    </div>
                    <div class="block__card--containerIcon">
                        <img src="../assets/icons/bt_add_to_cart.svg" alt="carro de compra" class="block__card--icon">
                    </div>
                </div>
            </div>
            <div class="block__card--product">
                <img src="../assets/img/pexels-photo-276517.jpeg" alt="" class="block__card--img">
                <div class="block__card--info">
                    <div class="block__card--text">
                        <h3 class="block__card--h">
                            $120,00
                        </h3>
                        <p class="block__card--p">
                            Objeto
                        </p>
                    </div>
                    <div class="block__card--containerIcon">
                        <img src="../assets/icons/bt_add_to_cart.svg" alt="carro de compra" class="block__card--icon">
                    </div>
                </div>
            </div>
            <div class="block__card--product">
                <img src="../assets/img/pexels-photo-276517.jpeg" alt="" class="block__card--img">
                <div class="block__card--info">
                    <div class="block__card--text">
                        <h3 class="block__card--h">
                            $120,00
                        </h3>
                        <p class="block__card--p">
                            Objeto
                        </p>
                    </div>
                    <div class="block__card--containerIcon">
                        <img src="../assets/icons/bt_add_to_cart.svg" alt="carro de compra" class="block__card--icon">
                    </div>
                </div>
            </div>
            <div class="block__card--product">
                <img src="../assets/img/pexels-photo-276517.jpeg" alt="" class="block__card--img">
                <div class="block__card--info">
                    <div class="block__card--text">
                        <h3 class="block__card--h">
                            $120,00
                        </h3>
                        <p class="block__card--p">
                            Objeto
                        </p>
                    </div>
                    <div class="block__card--containerIcon">
                        <img src="../assets/icons/bt_add_to_cart.svg" alt="carro de compra" class="block__card--icon">
                    </div>
                </div>
            </div>
            <div class="block__card--product">
                <img src="../assets/img/pexels-photo-276517.jpeg" alt="" class="block__card--img">
                <div class="block__card--info">
                    <div class="block__card--text">
                        <h3 class="block__card--h">
                            $120,00
                        </h3>
                        <p class="block__card--p">
                            Objeto
                        </p>
                    </div>
                    <div class="block__card--containerIcon">
                        <img src="../assets/icons/bt_add_to_cart.svg" alt="carro de compra" class="block__card--icon">
                    </div>
                </div>
            </div>
            <div class="block__card--product">
                <img src="../assets/img/pexels-photo-276517.jpeg" alt="" class="block__card--img">
                <div class="block__card--info">
                    <div class="block__card--text">
                        <h3 class="block__card--h">
                            $120,00
                        </h3>
                        <p class="block__card--p">
                            Objeto
                        </p>
                    </div>
                    <div class="block__card--containerIcon">
                        <img src="../assets/icons/bt_add_to_cart.svg" alt="carro de compra" class="block__card--icon">
                    </div>
                </div>
            </div>
            <div class="block__card--product">
                <img src="../assets/img/pexels-photo-276517.jpeg" alt="" class="block__card--img">
                <div class="block__card--info">
                    <div class="block__card--text">
                        <h3 class="block__card--h">
                            $120,00
                        </h3>
                        <p class="block__card--p">
                            Objeto
                        </p>
                    </div>
                    <div class="block__card--containerIcon">
                        <img src="../assets/icons/bt_add_to_cart.svg" alt="carro de compra" class="block__card--icon">
                    </div>
                </div>
            </div>
            <div class="block__card--product">
                <img src="../assets/img/pexels-photo-276517.jpeg" alt="" class="block__card--img">
                <div class="block__card--info">
                    <div class="block__card--text">
                        <h3 class="block__card--h">
                            $120,00
                        </h3>
                        <p class="block__card--p">
                            Objeto
                        </p>
                    </div>
                    <div class="block__card--containerIcon">
                        <img src="../assets/icons/bt_add_to_cart.svg" alt="carro de compra" class="block__card--icon">
                    </div>
                </div>
            </div>
            <div class="block__card--product">
                <img src="../assets/img/pexels-photo-276517.jpeg" alt="" class="block__card--img">
                <div class="block__card--info">
                    <div class="block__card--text">
                        <h3 class="block__card--h">
                            $120,00
                        </h3>
                        <p class="block__card--p">
                            Objeto
                        </p>
                    </div>
                    <div class="block__card--containerIcon">
                        <img src="../assets/icons/bt_add_to_cart.svg" alt="carro de compra" class="block__card--icon">
                    </div>
                </div>
            </div>
            <div class="block__card--product">
                <img src="../assets/img/pexels-photo-276517.jpeg" alt="" class="block__card--img">
                <div class="block__card--info">
                    <div class="block__card--text">
                        <h3 class="block__card--h">
                            $120,00
                        </h3>
                        <p class="block__card--p">
                            Objeto
                        </p>
                    </div>
                    <div class="block__card--containerIcon">
                        <img src="../assets/icons/bt_add_to_cart.svg" alt="carro de compra" class="block__card--icon">
                    </div>
                </div>
            </div>
            <div class="block__card--product">
                <img src="../assets/img/pexels-photo-276517.jpeg" alt="" class="block__card--img">
                <div class="block__card--info">
                    <div class="block__card--text">
                        <h3 class="block__card--h">
                            $120,00
                        </h3>
                        <p class="block__card--p">
                            Objeto
                        </p>
                    </div>
                    <div class="block__card--containerIcon">
                        <img src="../assets/icons/bt_add_to_cart.svg" alt="carro de compra" class="block__card--icon">
                    </div>
                </div>
            </div>
            <div class="block__card--product">
                <img src="../assets/img/pexels-photo-276517.jpeg" alt="" class="block__card--img">
                <div class="block__card--info">
                    <div class="block__card--text">
                        <h3 class="block__card--h">
                            $120,00
                        </h3>
                        <p class="block__card--p">
                            Objeto
                        </p>
                    </div>
                    <div class="block__card--containerIcon">
                        <img src="../assets/icons/bt_add_to_cart.svg" alt="carro de compra" class="block__card--icon">
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>