<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <title>homeSignIn</title>
</head>
<body id="body" style="overflow-y: scroll;">


    <!-- Nav -->
    <nav class="containerNav">
        <img src="../assets/icons/icon_menu.svg" alt="" class="containerNav__iconMobile" id="openSubMenuMobile" onclick="openSubMenuMobile()">
        <div class="containerNav__left">
            <img src="../assets/logos/logo_yard_sale.svg" alt="" class="containerNav__logo">
            <ul>
                <li class="containerNav__buttons">
                    <a href="">All</a>
                </li>
                <li class="containerNav__buttons">
                    <a href="">Clothes</a>
                </li>
                <li class="containerNav__buttons">
                    <a href="">Electronics</a>
                </li>
                <li class="containerNav__buttons">
                    <a href="">Furnutures</a>
                </li>
                <li class="containerNav__buttons">
                    <a href="">Toys</a>
                </li>
                <li class="containerNav__buttons">
                    <a href="">Others</a>
                </li>
            </ul>
        </div>
        <div class="containerNav__right">
            <ul>
                <div class="containerNav__subMenu">
                    <li class="containerNav__textEmail"><a href="./login.html">Sign In</a></li>
                </div>
                <div class="containerNav__container">
                    <li class="containerNav__icon">
                        <a href="./login.html">
                            <img src="../assets/icons/icon_shopping_cart.svg" alt="">
                        </a>
                    </li>
                    <div class="containerNav__notification"></div>
                </div>
            </ul>
        </div>
    </nav>
    <!---------------------------->


    <!-- Sub Menu Plegable Movil-->
    <div class="containerMenuMobile" style="display: none;" id="subMenuMobile">
        <div class="containerMenuMobile__container">
            <div class="containerMenuMobile__listOne">
                <img class="containerMenuMobile__listOne--iconClose" src="../assets/icons/icons8-close.svg" alt="" id="closeSubMenuMobile" onclick="closeSubMenuMobile()">
                <ul>
                    <li>
                        <a href="">CATEGORIAS</a>
                    </li>
                    <li>
                        <a href="">All</a>
                    </li>
                    <li>
                        <a href="">Clothes</a>
                    </li>
                    <li>
                        <a href="">Electronics</a>
                    </li>
                    <li>
                        <a href="">Furnutures</a>
                    </li>
                    <li>
                        <a href="">Toys</a>
                    </li>
                    <li>
                        <a href="">Others</a>
                    </li>
                </ul>
            </div>
    
            <div class="containerMenuMobile__listTwo">
                <ul>
                    <li>
                        <a href="./login.html">My orders</a>
                    </li>
                    <li>
                        <a href="./login.html">My account</a>
                    </li>
                </ul>
    
            </div>
        </div>
        <div class="containerMenuMobile__listThree">
            <ul>
                <li>
                    <a href="./login.html" class="containerMenuMobile__listThree--sign-out">sign up</a>
                </li>
            </ul>
        </div>
    </div>
    <!---------------------------->


    <!--Main-->
    <main>
        <section class="block"> 
            <section class="block__search">
                <div class="searchContainer">
                    <img src="../assets/icons/Shape.svg" alt="">
                    <input type="text" placeholder="Search product">
                </div>
                <div class="block__category">
                    <div class="block__scroll containerNav__buttons"><a href="">All</a></div>
                    <div class="block__scroll containerNav__buttons"><a href="">Clothes</a></div>
                    <div class="block__scroll containerNav__buttons"><a href="">Electronics</a></div>
                    <div class="block__scroll containerNav__buttons"><a href="">Furnutures</a></div>
                    <div class="block__scroll containerNav__buttons"><a href="">Toys</a></div>
                    <div class="block__scroll containerNav__buttons"><a href="">Others</a></div>
                </div>
                <div class="orderContainer">
                    <p>Order:
                        <span>Most recent <img src="../assets/icons/Path.svg" alt=""></span>
                    </p>
                </div>
            </section>
            <aside class="containerProduct" id="preview" style="display: none;">
                <div class="containerProduct__container" id="previewClose" onclick="closePreview()">
                    <img src="../assets/icons/icon_close.png" alt="" class="containerProduct__icon--close" id="previewClose">
                </div>
                <img src="../assets/img/pexels-photo-276517.jpeg" alt="" class="containerProduct__icon--bike">
                <div class="containerProduct__points">
                    <div class="containerProduct__points--color">
                        <li></li>
                    </div>
                    <li></li>
                    <li></li>
                </div>
                <div class="containerProduct__info">
                    <h3 class="containerProduct__info--h4">$35,00</h3>
                    <p class="containerProduct__info--p">Bike</p>
                    <p class="containerProduct__info--p">With its functional and practical design, this bike also fulfills a decorative function, adding
                        personality and a retro-vintage aesthetic to your house</p>
                    <button class="containerProduct__button">
                        <img src="../assets/icons/bt_add_to_cart.svg" alt="" class="containerProduct__icon--cart">
                        Add to cart
                    </button>
                </div>
            </aside>
            <div class="block__card">
                <div class="block__card--product">
                    <img src="../assets/img/pexels-photo-276517.jpeg" alt="" class="block__card--img" onclick="openPreview()" id="previewOpen">
                    <div class="block__card--info">
                        <div class="block__card--text">
                            <h3 class="block__card--h">
                                $120,00
                            </h3>
                            <p class="block__card--p">
                                Objeto
                            </p>
                        </div>
                        <div class="block__card--containerIcon">
                            <img src="../assets/icons/bt_add_to_cart.svg" alt="carro de compra" class="block__card--icon" id="preview" onclick="openPreview()">
                        </div>
                    </div>
                </div>
                <div class="block__card--product">
                    <img src="../assets/img/pexels-photo-276517.jpeg" alt="" class="block__card--img">
                    <div class="block__card--info">
                        <div class="block__card--text">
                            <h3 class="block__card--h">
                                $120,00
                            </h3>
                            <p class="block__card--p">
                                Objeto
                            </p>
                        </div>
                        <div class="block__card--containerIcon">
                            <img src="../assets/icons/bt_add_to_cart.svg" alt="carro de compra" class="block__card--icon">
                        </div>
                    </div>
                </div>
                <div class="block__card--product">
                    <img src="../assets/img/pexels-photo-276517.jpeg" alt="" class="block__card--img">
                    <div class="block__card--info">
                        <div class="block__card--text">
                            <h3 class="block__card--h">
                                $120,00
                            </h3>
                            <p class="block__card--p">
                                Objeto
                            </p>
                        </div>
                        <div class="block__card--containerIcon">
                            <img src="../assets/icons/bt_add_to_cart.svg" alt="carro de compra" class="block__card--icon">
                        </div>
                    </div>
                </div>
                <div class="block__card--product">
                    <img src="../assets/img/pexels-photo-276517.jpeg" alt="" class="block__card--img">
                    <div class="block__card--info">
                        <div class="block__card--text">
                            <h3 class="block__card--h">
                                $120,00
                            </h3>
                            <p class="block__card--p">
                                Objeto
                            </p>
                        </div>
                        <div class="block__card--containerIcon">
                            <img src="../assets/icons/bt_add_to_cart.svg" alt="carro de compra" class="block__card--icon">
                        </div>
                    </div>
                </div>
                <div class="block__card--product">
                    <img src="../assets/img/pexels-photo-276517.jpeg" alt="" class="block__card--img">
                    <div class="block__card--info">
                        <div class="block__card--text">
                            <h3 class="block__card--h">
                                $120,00
                            </h3>
                            <p class="block__card--p">
                                Objeto
                            </p>
                        </div>
                        <div class="block__card--containerIcon">
                            <img src="../assets/icons/bt_add_to_cart.svg" alt="carro de compra" class="block__card--icon">
                        </div>
                    </div>
                </div>
                <div class="block__card--product">
                    <img src="../assets/img/pexels-photo-276517.jpeg" alt="" class="block__card--img">
                    <div class="block__card--info">
                        <div class="block__card--text">
                            <h3 class="block__card--h">
                                $120,00
                            </h3>
                            <p class="block__card--p">
                                Objeto
                            </p>
                        </div>
                        <div class="block__card--containerIcon">
                            <img src="../assets/icons/bt_add_to_cart.svg" alt="carro de compra" class="block__card--icon">
                        </div>
                    </div>
                </div>
                <div class="block__card--product">
                    <img src="../assets/img/pexels-photo-276517.jpeg" alt="" class="block__card--img">
                    <div class="block__card--info">
                        <div class="block__card--text">
                            <h3 class="block__card--h">
                                $120,00
                            </h3>
                            <p class="block__card--p">
                                Objeto
                            </p>
                        </div>
                        <div class="block__card--containerIcon">
                            <img src="../assets/icons/bt_add_to_cart.svg" alt="carro de compra" class="block__card--icon">
                        </div>
                    </div>
                </div>
                <div class="block__card--product">
                    <img src="../assets/img/pexels-photo-276517.jpeg" alt="" class="block__card--img">
                    <div class="block__card--info">
                        <div class="block__card--text">
                            <h3 class="block__card--h">
                                $120,00
                            </h3>
                            <p class="block__card--p">
                                Objeto
                            </p>
                        </div>
                        <div class="block__card--containerIcon">
                            <img src="../assets/icons/bt_add_to_cart.svg" alt="carro de compra" class="block__card--icon">
                        </div>
                    </div>
                </div>
                <div class="block__card--product">
                    <img src="../assets/img/pexels-photo-276517.jpeg" alt="" class="block__card--img">
                    <div class="block__card--info">
                        <div class="block__card--text">
                            <h3 class="block__card--h">
                                $120,00
                            </h3>
                            <p class="block__card--p">
                                Objeto
                            </p>
                        </div>
                        <div class="block__card--containerIcon">
                            <img src="../assets/icons/bt_add_to_cart.svg" alt="carro de compra" class="block__card--icon">
                        </div>
                    </div>
                </div>
                <div class="block__card--product">
                    <img src="../assets/img/pexels-photo-276517.jpeg" alt="" class="block__card--img">
                    <div class="block__card--info">
                        <div class="block__card--text">
                            <h3 class="block__card--h">
                                $120,00
                            </h3>
                            <p class="block__card--p">
                                Objeto
                            </p>
                        </div>
                        <div class="block__card--containerIcon">
                            <img src="../assets/icons/bt_add_to_cart.svg" alt="carro de compra" class="block__card--icon">
                        </div>
                    </div>
                </div>
                <div class="block__card--product">
                    <img src="../assets/img/pexels-photo-276517.jpeg" alt="" class="block__card--img">
                    <div class="block__card--info">
                        <div class="block__card--text">
                            <h3 class="block__card--h">
                                $120,00
                            </h3>
                            <p class="block__card--p">
                                Objeto
                            </p>
                        </div>
                        <div class="block__card--containerIcon">
                            <img src="../assets/icons/bt_add_to_cart.svg" alt="carro de compra" class="block__card--icon">
                        </div>
                    </div>
                </div>
                <div class="block__card--product">
                    <img src="../assets/img/pexels-photo-276517.jpeg" alt="" class="block__card--img">
                    <div class="block__card--info">
                        <div class="block__card--text">
                            <h3 class="block__card--h">
                                $120,00
                            </h3>
                            <p class="block__card--p">
                                Objeto
                            </p>
                        </div>
                        <div class="block__card--containerIcon">
                            <img src="../assets/icons/bt_add_to_cart.svg" alt="carro de compra" class="block__card--icon">
                        </div>
                    </div>
                </div>
                <div class="block__card--product">
                    <img src="../assets/img/pexels-photo-276517.jpeg" alt="" class="block__card--img">
                    <div class="block__card--info">
                        <div class="block__card--text">
                            <h3 class="block__card--h">
                                $120,00
                            </h3>
                            <p class="block__card--p">
                                Objeto
                            </p>
                        </div>
                        <div class="block__card--containerIcon">
                            <img src="../assets/icons/bt_add_to_cart.svg" alt="carro de compra" class="block__card--icon">
                        </div>
                    </div>
                </div>
                <div class="block__card--product">
                    <img src="../assets/img/pexels-photo-276517.jpeg" alt="" class="block__card--img">
                    <div class="block__card--info">
                        <div class="block__card--text">
                            <h3 class="block__card--h">
                                $120,00
                            </h3>
                            <p class="block__card--p">
                                Objeto
                            </p>
                        </div>
                        <div class="block__card--containerIcon">
                            <img src="../assets/icons/bt_add_to_cart.svg" alt="carro de compra" class="block__card--icon">
                        </div>
                    </div>
                </div>
                <div class="block__card--product">
                    <img src="../assets/img/pexels-photo-276517.jpeg" alt="" class="block__card--img">
                    <div class="block__card--info">
                        <div class="block__card--text">
                            <h3 class="block__card--h">
                                $120,00
                            </h3>
                            <p class="block__card--p">
                                Objeto
                            </p>
                        </div>
                        <div class="block__card--containerIcon">
                            <img src="../assets/icons/bt_add_to_cart.svg" alt="carro de compra" class="block__card--icon">
                        </div>
                    </div>
                </div>
                <div class="block__card--product">
                    <img src="../assets/img/pexels-photo-276517.jpeg" alt="" class="block__card--img">
                    <div class="block__card--info">
                        <div class="block__card--text">
                            <h3 class="block__card--h">
                                $120,00
                            </h3>
                            <p class="block__card--p">
                                Objeto
                            </p>
                        </div>
                        <div class="block__card--containerIcon">
                            <img src="../assets/icons/bt_add_to_cart.svg" alt="carro de compra" class="block__card--icon">
                        </div>
                    </div>
                </div>
                <div class="block__card--product">
                    <img src="../assets/img/pexels-photo-276517.jpeg" alt="" class="block__card--img">
                    <div class="block__card--info">
                        <div class="block__card--text">
                            <h3 class="block__card--h">
                                $120,00
                            </h3>
                            <p class="block__card--p">
                                Objeto
                            </p>
                        </div>
                        <div class="block__card--containerIcon">
                            <img src="../assets/icons/bt_add_to_cart.svg" alt="carro de compra" class="block__card--icon">
                        </div>
                    </div>
                </div>
                <div class="block__card--product">
                    <img src="../assets/img/pexels-photo-276517.jpeg" alt="" class="block__card--img">
                    <div class="block__card--info">
                        <div class="block__card--text">
                            <h3 class="block__card--h">
                                $120,00
                            </h3>
                            <p class="block__card--p">
                                Objeto
                            </p>
                        </div>
                        <div class="block__card--containerIcon">
                            <img src="../assets/icons/bt_add_to_cart.svg" alt="carro de compra" class="block__card--icon">
                        </div>
                    </div>
                </div>
                <div class="block__card--product">
                    <img src="../assets/img/pexels-photo-276517.jpeg" alt="" class="block__card--img">
                    <div class="block__card--info">
                        <div class="block__card--text">
                            <h3 class="block__card--h">
                                $120,00
                            </h3>
                            <p class="block__card--p">
                                Objeto
                            </p>
                        </div>
                        <div class="block__card--containerIcon">
                            <img src="../assets/icons/bt_add_to_cart.svg" alt="carro de compra" class="block__card--icon">
                        </div>
                    </div>
                </div>
                <div class="block__card--product">
                    <img src="../assets/img/pexels-photo-276517.jpeg" alt="" class="block__card--img">
                    <div class="block__card--info">
                        <div class="block__card--text">
                            <h3 class="block__card--h">
                                $120,00
                            </h3>
                            <p class="block__card--p">
                                Objeto
                            </p>
                        </div>
                        <div class="block__card--containerIcon">
                            <img src="../assets/icons/bt_add_to_cart.svg" alt="carro de compra" class="block__card--icon">
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!---------------------------->


    <script src="../js/menuDeskTop.js"></script>
    <script src="../js/menuMobile.js"></script>
    <script src="../js/shoppingCart.js"></script>
    <script src="../js/preview.js"></script>
</body>
</html>