<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <title>LoginError1</title>
</head>
<body>
    <div class="container">
        <div class="container__logo">
            <img class="container__logo--img" src="../assets/logos/logo_yard_sale.svg" alt="logo">
        </div>
        <div class="container__block">
            <form action="" class="container__form">
                <label for="emailUser" class="container__form--label">
                    Email address
                </label>
                <input type="email" id="emailUser" placeholder="Email@gmail.com" class="container__form--input">

                <label for="passwordUemailUser" class="container__form--label">
                    Password
                </label>
                <input type="password" id="passwordUemailUser" placeholder="**********" class="container__form--input">

                <input type="submit" id="" value="Log in" class="container__form--button">

                <p class="container__form--p">
                    <a href="" class="container__form--a">
                        Forgot my password
                    </a>
                </p>

                <input type="submit" id="" value="Sign up" class="container__form--button container__form--button--color">
            </form>
        </div>
    </div>
</body>
</html>