<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Login</title>
</head>
<body>
    <nav class="containerNav containerNav__none">
        <img src="../assets/icons/icon_menu.svg" alt="" class="containerNav__iconMobile">
        <div class="containerNav__left">
            <img src="../assets/logos/logo_yard_sale.svg" alt="" class="containerNav__logo">
            <ul>
                <li class="containerNav__buttons">
                    <a href="">All</a>
                </li>
                <li class="containerNav__buttons">
                    <a href="">Clothes</a>
                </li>
                <li class="containerNav__buttons">
                    <a href="">Electronics</a>
                </li>
                <li class="containerNav__buttons">
                    <a href="">Furnutures</a>
                </li>
                <li class="containerNav__buttons">
                    <a href="">Toys</a>
                </li>
                <li class="containerNav__buttons">
                    <a href="">Others</a>
                </li>
            </ul>
        </div>
        <div class="containerNav__right">
            <ul>
                <div class="containerNav__subMenu">
                    <li class="containerNav__textEmail"><a href="./login.html">Sign in</a> 
                    </li>
                </div>
                <div class="containerNav__container">
                    <li class="containerNav__icon">
                        <img src="../assets/icons/icon_shopping_cart.svg" alt="">
                    </li>
                    <div class="containerNav__notification"></div>
                </div>
            </ul>
        </div>
    </nav>
    <div class="close">
        <img src="../assets/icons/icon_close.png" alt="">
    </div>
    <div class="container">
        <div class="container__logo">
            <img class="container__logo--img" src="../assets/logos/logo_yard_sale.svg" alt="logo">
        </div>
        <div class="container__block">
            <form action="" class="container__form">
                <label for="emailUser" class="container__form--label">
                    Email address
                </label>
                <input type="email" id="emailUser" placeholder="Email@gmail.com" class="container__form--input">

                <label for="passwordUser" class="container__form--label">
                    Password
                </label>
                
                <input type="password" id="passwordUser" placeholder="**********" class="container__form--input">
                <a href="./logi_error1.html">
                    <input type="button" id="" value="Log in" class="container__form--buttonStatic" src="./logi_error1.html">
                </a>

                <p class="container__form--p">
                    <a href="./password__recovery1.html" class="container__form--a">
                        Forgot my password
                    </a>
                </p>
                <a href="./create-account.html">
                    <input type="button" id="" value="Sign up" class="container__form--button container__form--button--color">
                </a>
            </form>
        </div>
    </div>
</body>
</html>