<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Document</title>
</head>

<body>
    <div class="containerMenuMobile">
        <div class="containerMenuMobile__container">
            <div class="containerMenuMobile__listOne">
                <img class="containerMenuMobile__listOne--iconClose" src="../assets/icons/icons8-close.svg" alt="">
                <ul>
                    <li>
                        <a href="">CATEGORIAS</a>
                    </li>
                    <li>
                        <a href="">All</a>
                    </li>
                    <li>
                        <a href="">Clothes</a>
                    </li>
                    <li>
                        <a href="">Electronics</a>
                    </li>
                    <li>
                        <a href="">Furnutures</a>
                    </li>
                    <li>
                        <a href="">Toys</a>
                    </li>
                    <li>
                        <a href="">Others</a>
                    </li>
                </ul>
            </div>
    
            <div class="containerMenuMobile__listTwo">
                <ul>
                    <li>
                        <a href="">My orders</a>
                    </li>
                    <li>
                        <a href="">My account</a>
                    </li>
                </ul>
    
            </div>
        </div>
        <div class="containerMenuMobile__listThree">
            <ul>
                <li>
                    <a href="" class="containerMenuMobile__listThree--email">email@gmail.com</a>
                </li>
                <li>
                    <a href="" class="containerMenuMobile__listThree--sign-out">sign out</a>
                </li>
            </ul>
        </div>
    </div>
</body>

</html>