<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <title>My orders</title>
</head>
<body>
    <div class="containerMyOrders">
        <div class="containerMyOrders__block">
            <h1 class="containerMyOrders__block--h1">
                My order
            </h1>
            <div class="containerMyOrders__info">
                <div class="containerMyOrders__info--fecha">
                    <h4 class="containerMyOrders__info--h4">
                        04.25.2021
                    </h4>
                    <p class="containerMyOrders__info--p"> 
                        6 articles
                    </p>
                </div>
                <div class="containerMyOrders__info--precio">
                    <p>
                        $560.00
                    </p>
                    <img src="../assets/icons/flechita.svg" alt="">
                </div>
            </div>
            <div class="containerMyOrders__info">
                <div class="containerMyOrders__info--fecha">
                    <h4 class="containerMyOrders__info--h4">
                        04.25.2021
                    </h4>
                    <p class="containerMyOrders__info--p"> 
                        6 articles
                    </p>
                </div>
                <div class="containerMyOrders__info--precio">
                    <p>
                        $560.00
                    </p>
                    <img src="../assets/icons/flechita.svg" alt="">
                </div>
            </div> 
            <div class="containerMyOrders__info">
                <div class="containerMyOrders__info--fecha">
                    <h4 class="containerMyOrders__info--h4">
                        04.25.2021
                    </h4>
                    <p class="containerMyOrders__info--p"> 
                        6 articles
                    </p>
                </div>
                <div class="containerMyOrders__info--precio">
                    <p>
                        $560.00
                    </p>
                    <img src="../assets/icons/flechita.svg" alt="">
                </div>
            </div> 
            <div class="containerMyOrders__info">
                <div class="containerMyOrders__info--fecha">
                    <h4 class="containerMyOrders__info--h4">
                        04.25.2021
                    </h4>
                    <p class="containerMyOrders__info--p"> 
                        6 articles
                    </p>
                </div>
                <div class="containerMyOrders__info--precio">
                    <p>
                        $560.00
                    </p>
                    <img src="../assets/icons/flechita.svg" alt="">
                </div>
            </div> 
            <div class="containerMyOrders__info">
                <div class="containerMyOrders__info--fecha">
                    <h4 class="containerMyOrders__info--h4">
                        04.25.2021
                    </h4>
                    <p class="containerMyOrders__info--p"> 
                        6 articles
                    </p>
                </div>
                <div class="containerMyOrders__info--precio">
                    <p>
                        $560.00
                    </p>
                    <img src="../assets/icons/flechita.svg" alt="">
                </div>
            </div>  
        </div>
    </div>
</body>
</html>