<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <title>My orden</title>
</head>
<body>
    <div class="containerOrder">
        <div class="containerOrder__block">
            <h1 class="containerOrder__block--h1">
                My order
            </h1>
            <div class="containerOrder__info">
                <div class="containerOrder__info--fecha">
                    <h4 class="containerOrder__info--h4">
                        04.25.2021
                    </h4>
                    <p class="containerOrder__info--p"> 
                        6 articles
                    </p>
                </div>
                <div class="containerOrder__info--precio">
                    <p>
                        $560.00
                    </p>
                </div>
            </div>
            <div class="containerOrder__card">
                <div class="containerOrder__subCard">
                    <div >
                        <img src="../assets/img/pexels-photo-276517.jpeg" alt="" class="containerOrder__card--img">
                    </div>
                    <p class="containerOrder__card--p">
                        Bike
                    </p>
                </div>
                <h4 class="containerOrder__card--h4">
                    $30.00
                </h4>
            </div>
            <div class="containerOrder__card">
                <div class="containerOrder__subCard">
                    <div >
                        <img src="../assets/img/pexels-photo-276517.jpeg" alt="" class="containerOrder__card--img">
                    </div>
                    <p class="containerOrder__card--p">
                        Bike
                    </p>
                </div>
                <h4 class="containerOrder__card--h4">
                    $30.00
                </h4>
            </div>
            <div class="containerOrder__card">
                <div class="containerOrder__subCard">
                    <div >
                        <img src="../assets/img/pexels-photo-276517.jpeg" alt="" class="containerOrder__card--img">
                    </div>
                    <p class="containerOrder__card--p">
                        Bike
                    </p>
                </div>
                <h4 class="containerOrder__card--h4">
                    $30.00
                </h4>
            </div>
            <div class="containerOrder__card">
                <div class="containerOrder__subCard">
                    <div >
                        <img src="../assets/img/pexels-photo-276517.jpeg" alt="" class="containerOrder__card--img">
                    </div>
                    <p class="containerOrder__card--p">
                        Bike
                    </p>
                </div>
                <h4 class="containerOrder__card--h4">
                    $30.00
                </h4>
            </div>
            
        </div>
    </div>
</body>
</html>