<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Password-Recovery</title>
</head>
<body>
    <nav class="containerNav">
        <img src="../assets/icons/icon_menu.svg" alt="" class="containerNav__iconMobile">
        <div class="containerNav__left">
            <img src="../assets/logos/logo_yard_sale.svg" alt="" class="containerNav__logo">
            <ul>
                <li class="containerNav__buttons">
                    <a href="">All</a>
                </li>
                <li class="containerNav__buttons">
                    <a href="">Clothes</a>
                </li>
                <li class="containerNav__buttons">
                    <a href="">Electronics</a>
                </li>
                <li class="containerNav__buttons">
                    <a href="">Furnutures</a>
                </li>
                <li class="containerNav__buttons">
                    <a href="">Toys</a>
                </li>
                <li class="containerNav__buttons">
                    <a href="">Others</a>
                </li>
            </ul>
        </div>
        <div class="containerNav__right">
            <ul>
                <div class="containerNav__subMenu">
                    <li class="containerNav__textEmail">email@gmail.com
                        <img src="../assets/icons/Path.svg" alt="">
                    </li>
                </div>
                <div class="containerNav__container">
                    <li class="containerNav__icon">
                        <img src="../assets/icons/icon_shopping_cart.svg" alt="">
                    </li>
                    <div class="containerNav__notification">2</div>
                </div>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="container__logo">
            <img class="container__logo--img" src="../assets/logos/logo_yard_sale.svg" alt="logo">
        </div>
        <div class="container__block">
            <div class="container__text">
                <h1 class="container__text--h1">
                    Email has been sent!
                </h1>
                <p class="container__text--p">
                    Please check your inbox for instructions on how to reset the password
                </p>
            </div>
            <div class="container__imageCorreo">
                <img src="../assets/icons/email.svg" alt="Sobre">
            </div>
            <div class="container__form">
                <a href="./new-password.html">
                    <button class="container__form--buttonStatic">Login</button>
                </a>
                <p class="container__form--p">
                    Did not receive the email? <a href="/" class="container__form--a">Resend</a>
                </p>
            </div>
        </div>
    </div>
</body>
</html>