<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <title>product_details</title>
</head>

<body>
    <aside class="containerProduct">
        <div class="containerProduct__container">
            <img src="../assets/icons/icon_close.png" alt="" class="containerProduct__icon--close">
        </div>
        <img src="../assets/img/pexels-photo-276517.jpeg" alt="" class="containerProduct__icon--bike">
        <div class="containerProduct__points">
            <div class="containerProduct__points--color">
                <li></li>
            </div>
            <li></li>
            <li></li>
        </div>
        <div class="containerProduct__info">
            <h3 class="containerProduct__info--h4">$35,00</h3>
            <p class="containerProduct__info--p">Bike</p>
            <p class="containerProduct__info--p">With its functional and practical design, this bike also fulfills a decorative function, adding
                personality and a retro-vintage aesthetic to your house</p>
            <button class="containerProduct__button">
                <img src="../assets/icons/bt_add_to_cart.svg" alt="" class="containerProduct__icon--cart">
                Add to cart
            </button>
        </div>
    </aside>
</body>

</html>