<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <title>shopping_cart</title>
</head>

<body>
    <aside class="containerProduct containerProduct__block">
            <div class="containerOrder__block containerOrder__block--mobile">
                <div class="containerOrder__container">
                    <img src="../assets/icons/Vector.svg" alt="" class="containerOrder__block--icon">
                    <h2 class="containerOrder__block--h2">
                        shopping cart
                    </h2>
                </div>
                <div class="containerOrder__card">
                    <div class="containerOrder__subCard">
                        <div >
                            <img src="../assets/img/pexels-photo-276517.jpeg" alt="" class="containerOrder__card--img">
                        </div>
                        <p class="containerOrder__card--p">
                            Bike
                        </p>
                    </div>
                    <div class="containerMyOrders__info--precio">
                        <p>
                            $560.00
                        </p>
                        <img src="../assets/icons/icon_close.png" alt="" class="containerMyOrders__info--close">
                    </div>
                </div>
                <div class="containerOrder__card">
                    <div class="containerOrder__subCard">
                        <div >
                            <img src="../assets/img/pexels-photo-276517.jpeg" alt="" class="containerOrder__card--img">
                        </div>
                        <p class="containerOrder__card--p">
                            Bike
                        </p>
                    </div>
                    <div class="containerMyOrders__info--precio">
                        <p>
                            $560.00
                        </p>
                        <img src="../assets/icons/icon_close.png" alt="" class="containerMyOrders__info--close">
                    </div>
                </div>
                <div class="containerOrder__card">
                    <div class="containerOrder__subCard">
                        <div >
                            <img src="../assets/img/pexels-photo-276517.jpeg" alt="" class="containerOrder__card--img">
                        </div>
                        <p class="containerOrder__card--p">
                            Bike
                        </p>
                    </div>
                    <div class="containerMyOrders__info--precio">
                        <p>
                            $560.00
                        </p>
                        <img src="../assets/icons/icon_close.png" alt="" class="containerMyOrders__info--close">
                    </div>
                </div>
                <div class="containerOrder__card">
                    <div class="containerOrder__subCard">
                        <div >
                            <img src="../assets/img/pexels-photo-276517.jpeg" alt="" class="containerOrder__card--img">
                        </div>
                        <p class="containerOrder__card--p">
                            Bike
                        </p>
                    </div>
                    <div class="containerMyOrders__info--precio">
                        <p>
                            $560.00
                        </p>
                        <img src="../assets/icons/icon_close.png" alt="" class="containerMyOrders__info--close">
                    </div>
                </div>
                <div class="containerOrder__info containerOrder__info--margin" >
                    <div class="containerOrder__info--fecha">
                        <h4 class="containerOrder__info--h4">
                            Total
                        </h4>
                    </div>
                    <div class="containerOrder__info--precio">
                        <p>
                            $560.00
                        </p>
                    </div>
                </div>
            </div>
            <button class="containerProduct__button--color">
                Add to cart
            </button>
    </aside>
</body>

</html>